html,
body {
  margin: 0;
  padding: 0;
  background: #161616;
  color: white;
  overflow-x: hidden;
}

/* Main Heading */
.main-heading {
  text-align: center;
  align-items: center;
  justify-content:center;
  color: #4CAF50;
  font-size: 2.5em;
  margin-bottom: 10px;
}

/* Subheading */
.sub-heading {
  text-align: center;
  align-items: center;
  justify-content:center;
  color: #555;
  font-size: 1.5em;
  font-weight: normal;
}

::-webkit-scrollbar{
  width: 0;
}
.progress-bar{
  position: fixed;
  top: 0;
  left: 85%;
  background: rgba(255, 255, 255, 0.4);
  width: 1px;
  z-index: 1;
}


.navigation-wrapper ul{
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 200px;
  list-style: none;
  position: absolute;
}


.navigation-item{
  display: block;
  user-select: none;
  margin: 120px 0;
}

a{
  font-family: "Cosi Azure";
  font-size: 100px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
span{
  position: relative;
  display: block;
}
.navigation-item span::before{
  width: 0;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.navigation-item span:hover::before {
  width: 100%;
}
.project-preview-wrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}
.project-preview{
  position: fixed;
  top: 12%;
  left: 50%;
  width: 0px;
  height: 400px;
  background: url(img-1.jpg) no-repeat 50% 50%;
  background-position: center;
  background-size: cover;
}
@media (max-width: 900px) {
  .progressbar,
  .project-preview-wrapper {
    display: none;
  }

  a {
    font-size: 24px;
  }
}